body {
  font-family: sans-serif;
  line-height: 1.4em;
}
h1 {
  margin: 30px 0;
}
h2 {
  margin: 30px 0 20px 0;
}
ul {
  padding-left: 20px;
}
section {
  margin: 20px 0;
}
button,
input[type='submit'] {
  appearance: none;
  background: #e5e5e5;
  border: none;
  margin: 5px 0;
  padding: 7px 15px;
  transition: background 0.3s ease;
}
button:hover,
input[type='submit']:hover {
  cursor: pointer;
  background: #d9d9d9;
}
.notification {
  color: #00f;
  background: #d3d3d3;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.notification.error {
  color: #f00;
}
.notification.success {
  color: #008000;
}
.blog-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: start;
  gap: 14px;
  margin: 30px 0;
  padding: 0;
}
.blog-list .blog {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: stretch;
  gap: 15px 0;
}
.blog-list .blog .vote {
  width: 50px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 10px 0;
}
.blog-list .blog .vote button {
  appearance: none;
  background-color: transparent;
  border: none;
}
.blog-list .blog .vote button:hover {
  cursor: pointer;
}
.blog-list .blog a.info {
  position: relative;
  width: 100%;
  text-decoration: none;
  color: inherit;
  background: #d9d9d9;
  padding: 10px 20px;
  transition: background 0.3s ease;
}
.blog-list .blog a.info > span {
  display: block;
  padding: 2px 0;
}
.blog-list .blog a.info > span > b {
  font-size: 1.3em;
}
.blog-list .blog a.info button.remove-blog {
  background: #000;
  color: #fff;
}
.blog-list .blog a.info button.remove-blog:hover {
  background: #4b4b4b;
}
.blog-list .blog a.info button.toggle-visibility {
  position: absolute;
  top: 10px;
  right: 20px;
  margin: 0;
}
.blog-list .blog a.info:hover {
  background: #c2c2c2;
}
form {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
form div {
  width: 100%;
}
form div label {
  display: inline-block;
  width: 84px;
}
.overview .teams {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: start;
  gap: 30px;
}
.overview .teams .team {
  width: 250px;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}
.overview .teams .team > * {
  width: 100%;
}
.overview .teams .team .match-info {
  display: flex;
  flex-flow: row wrap;
  gap: 7px;
}
.overview .teams .team .match-info > * {
  width: 100%;
}
.overview .teams .team .match-banner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: #d3d3d3;
  padding: 5px 10px;
}
.overview .teams .team .match-banner.pending {
  opacity: 0.5;
}
.overview .teams .team .match-banner.now .result {
  font-weight: bold;
}
.overview .teams .team .match-banner .team-icon {
  display: block;
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.overview .teams .team .match-banner .info {
  text-align: center;
}
.overview .teams .team .match-banner .time {
  font-size: 0.7em;
  line-height: 1.8em;
}
.overview .teams .team .player-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.overview .teams .team .player-item.not-lined-up {
  opacity: 0.4;
}
.overview .teams .team .player-item .player {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
}
.overview .teams .team .player-item .player .team-icon {
  display: block;
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.squad-list .player-position {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: start;
  gap: 15px;
}
.squad-list .player-position h3 {
  margin-bottom: 0;
}
.squad-list .player-position h3,
.squad-list .player-position .player-item {
  width: 100%;
}
.squad-list .player-position .chart-container {
  width: 700px;
  max-width: 100%;
}
.hide {
  display: none !important;
}
